{% extends "server_config.html" %}
{% block configName %}Amino & Loritta{% endblock %}
{% block configContent %}

<form method="post">
<div style="text-align: center;">
<p>Ativar o módulo?</p>
<input type="checkbox" name="enableModule" value="true" {% if serverConfig.aminoConfig.isEnabled == true %}checked{% endif %}>
</div>
<hr>
<input type="checkbox" name="fixAminoImages" value="true" {% if serverConfig.aminoConfig.fixAminoImages == true %}checked{% endif %}> Automaticamente transformar imagens ".Amino" em imagens normais no Discord?
</br>
Canal para anunciar quando receber algum novo post:
<select name="repostToChannelId">
    {% for textChannel in currentServerJda.getTextChannels %}
    <option value="{{ textChannel.getId }}">{{ textChannel.getName }}</option>
	{% endfor %}
  </select>
</br>
Convite para a sua comunidade (Sim, é necessário! A Loritta precisa entrar na sua comunidade para pegar os novos posts!): <input type="text" name="inviteUrl">
</br>
ID da Comunidade (Não edite isto!) <input type="text">
</br>
<input type="submit" data-inline="true" value="Salvar">
</form>
Somente no novo painel de administração: <a href="https://beta.loritta.website/dashboard">https://beta.loritta.website/dashboard</a>

{% endblock %}