{% extends 'configure_server.html' %}
{% block rightSidebarContents %}
{% set config = serverConfig.autoroleConfig %}
<div class="category-name">
Autorole
</div>
<div style="text-align: center;">
<div style="height: 300px; position: relative; display: inline-block; overflow: hidden;">
<img src="{{ websiteUrl }}assets/img/lori_autorole.png?v4" style="border-radius: 7px; height: 300px;">
<img src="{{ websiteUrl }}assets/img/lori_autorole_hand.png" style="bottom: -30px; left: 0px; position: absolute;" class="hand-shake" style="border-radius: 7px; position: absolute;">
</div>
<style>
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	60% { -webkit-transform: translate(0px, 4px) rotate(0deg); }
	80% { -webkit-transform: translate(0px, -15px) rotate(0deg); }
  100% { -webkit-transform: translate(0px, 0px); }
}

.hand-shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 1.6s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
}
</style>
<h2>Autorole</h2>
<p>Autorole serve para você dar cargos para novos membros do seu servidor automaticamente quando eles entrarem no servidor. Chega de dar cargos para novatos manualmente!</p>
<div id="requiresPermission" class="entry-error flavourText" style="color: #f04747;"></div>
<hr>
<!-- Loritta Dashboard 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="2080512288"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Loritta Dashboard 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="9739510458"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div id="autoroleConfigurationWrapper">
<hr>
{{ generateCheckbox(1, "isEnabled", DASHBOARD_ACTIVATE_MODULE, "", serverConfig.autoroleConfig.isEnabled, true) }}
<hr>
<div id="hiddenIfDisabled">
<div class="flavourText">{{ WEBSITE_AUTOROLE_GIVE_ROLE_UPON_JOIN }}</div>
<select style="width: 320px;" name="chooseRole" id="chooseRole">
</select>
<style>
option:disabled {
    color: #d4d4d4;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
background-color: rgba(79,84,92,.1);
color: inherit;
}
</style>
<button type="button" onclick="LoriDashboard.ConfigureAutoroleView.addRoleFromSelection()" class="button-success pure-button">{{ WEBSITE_ADD_IT }}</button>
<div class="toggleSubText">{{ WEBSITE_AUTOROLE_CLICK_TO_REMOVE_ROLE }}</div>
<table id="roleTable">
  {# {% for role in config.roles %}
  {% set jdaRole = guild.getRoleById(role) %}
  <tr>
    <td data-internalid="{{ role }}" onclick="DL2(this)">{{ jdaRole.getName() }}</td>
  </tr>
  {% endfor %} #}
</table>
{% if environment.name == "CANARY" %}
<div class="flavourText">Dar cargos por reação</div>
{% endif %}
</div>
</div>
<hr>
<script>
LoriDashboard.ConfigureAutoroleView.start();
</script>
<button onclick="LoriDashboard.ConfigureAutoroleView.prepareSave()" style="float: right;" class="button-discord button-discord-success pure-button">{{ DASHBOARD_SAVE }}</button>
<br style="clear: both" /> <!-- So dirty! -->
{% endblock %}