{% extends "server_config.html" %}
{% block configName %}Editor de Comandos{% endblock %}
{% block configContent %}
<form method="post">
  Nome do comando:
  <input type="text" name="commandName" placeholder="regras" value="{{ editingCommand.label }}">
  <br>
  Código:<br>
<pre id="editor">{{ editingCommand.javaScript }}</pre>
<input type="hidden" id="commandId" name="commandId" value='{{ editingCommand.getId.toString }}'>
<input type="hidden" id="commandResponse" name="commandResponse" value='{{ editingCommand.javaScript }}'>
<button class="button-success pure-button" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
  
<style>
    #editor {
        position: relative !important;
        border: 1px solid lightgray;
        margin: auto;
        height: 300px;
        width: 100%;
    }
</style>
	
<script src="{{ websiteUrl }}assets/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");

    var input = $('#editor');
        editor.getSession().on("change", function () {
		document.getElementById("commandResponse").value = editor.getSession().getValue();
    });  
</script>
</form> 
<h2>API da Loritta</h2>
<p>A Loritta tem uma API básica para você poder criar seus próprios comandos!</p>
<p>Para você criar seus próprios comandos, é melhor que você saiba um pouco de JavaScript ou, no mínimo, saiba um pouco sobre lógica de programação :)</p>
<p>Os comandos feitos usando a API da Loritta são meio limitados, eles só podem ser executados por, no máximo, 5 segundos e possuem algumas limitações impostas em cima deles para garantir que eu não explode tentando processar tantos comandos.</p>
<p>E é claro, não crie um comando que faça eu explodir ou que faça algo que eu não queira (como comandos obscenos), se você encontrar um bug, reporte para o MrPowerGamerBR para corrigir! Se você persistir em fazer coisas erradas você levará ban!</p>
<a href="https://loritta.website/nashdocs/">Link para a documentação</a>
{% endblock %}