{% extends 'base.html' %}
{% block subtitle %}
{{ WEBSITE_COMMANDS }}
{% endblock %}
{% block wrapper %}
<script type="text/javascript" src="{{ websiteUrl }}assets/js/LoriUtils.js?v={{ epochMillis }}"></script>
<script type="text/javascript" src="{{ websiteUrl }}assets/js/LoriDashboard.js?v={{ epochMillis }}"></script>
{% endblock %}
{% block afterScripts %}
<script>
LoriDashboard.CommandsView.start()

onViewport(".animate-on-scroll-left", "animated fadeInLeft", 0, function(el) {
  el.removeClass("is-invisible");
});

onViewport(".animate-on-scroll-right", "animated fadeInRight", 0, function(el) {
  el.removeClass("is-invisible");
});

onViewport(".fanclub-server-icon", "animated fadeInUp", 0, function(el) {
  el.removeClass("is-invisible");
});
</script>
{% endblock %}