{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block wrapper %}
<div style="height: 49.95px"></div>
<div class="oddWrapper">
<!-- Loritta Daily Reward -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="4638598063"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Loritta Daily Reward -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="4638598063"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="text/javascript" src="{{ websiteUrl }}assets/js/LoriUtils.js?v={{ epochMillis }}"></script>
<script type="text/javascript" src="{{ websiteUrl }}assets/js/LoriServerList.js?v={{ epochMillis }}"></script>
<div class="contentWrapper" style="text-align: center;">
<div class="sectionHeader">
Prêmio Diário
</div>
<div style="text-align: center;">
<div id="daily-prewrapper">
<div id="daily-wrapper">
<div id="daily-captcha" style="display: inline-block;"></div>
<div>
<div class="button-discord pure-button daily-reward-button button-discord-disabled" style="font-size: 1.25em; transition: 0.3s;"><i class="fas fa-gift"></i> Receber Prêmio</div>
</div>
</div>
</div>
<div class="daily-notification flavourText" style="color: #f04747;"></div>
</div>
</div>
</div>
<div class="evenWrapper">
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: left;">
    <div class="pure-u-1 pure-u-md-3-4">
		<div class="sectionText">
		<div class="sectionHeader">
		Mas... o que são sonhos?
		</div>
<p>Sonhos é o nome da economia da Loritta, você pode usar sonhos para apostar na Lorifa, comprar novas coisas para você e muito mais!</p>
		</div>
	</div>
    <div class="pure-u-1 pure-u-md-1-4" style="text-align: center;">
		<img src="https://loritta.website/assets/img/loritta_money_discord.png" alt="Foto da Loritta" style="width: 100%;">
	</div>
</div>
</div>
</div>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="4638598063"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Loritta Daily Reward -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="4638598063"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<script>
LoriServerList.DailyView.start()

function recaptchaCallback(response) {
	LoriServerList.DailyView.recaptchaCallback(response)
}
</script>
</div>
{% endblock %}