{% extends 'base.html' %}
{% block subtitle %}
Dashboard
{% endblock %}
{% block wrapper %}
<div class="oddWrapper">
<!-- Loritta Teste -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="6236021665"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Loritta Teste 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="8369584507"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="contentWrapper" style="text-align: center;">
<div class="sectionHeader">
{{ DASHBOARD_CHOOSE_A_SERVER }}
</div>
<div id="choose-your-server" class="pure-g vertically-centered-content" style="text-align: center;">
    {% for guild in userGuilds %}
    <div class="pure-u-1 pure-u-md-1-2">
	    <div class="pure-g vertically-centered-content" style="text-align: left; align-items: flex-start;">
		<div class="server-entry">
		<div style="position: relative;">
		<div class="pure-u-1 pure-u-md-1-6" style="line-height: 0;">
		<img style="border-radius: 999999px; background-color: rgb(47, 49, 54); width: 100%;" src="{% if guild.icon|length != 0 %}https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}{% else %}{{ websiteUrl }}assets/img/unknown.png{% endif %}"></img>
		</div>
		<div class="pure-u-1 pure-u-md-5-6">
		<div style="font-size: 1.25em;">
		<span style="float: left;">{{ guild.name }}</span>
		{% set userPermissionLevel = userPermissionLevels[guild] %}
		<span style="float: right;">
		<span class="label label-{% if userPermissionLevel.name == "OWNER" %}success{% elseif userPermissionLevel.name == "ADMINISTRATOR" %}info{% else %}primary{% endif %}">{% if userPermissionLevel.name == "OWNER" %}{{ DASHBOARD_OWNER }}{% elseif userPermissionLevel.name == "ADMINISTRATOR" %}{{ DASHBOARD_ADMINISTRATOR }}{% else %}{{ DASHBOARD_MANAGER }}{% endif %}</span>
		</span>
		</div>
		{% if joinedServers[guild] == true %}
		<div style="position: absolute; bottom: 0; right: 0;"><a class="button-discord button-discord-success pure-button" href="{{ websiteUrl }}dashboard/configure/{{ guild.id }}">{{ DASHBOARD_MANAGE_SERVER }}</a></div>
		{% else %}
		<div style="position: absolute; bottom: 0; right: 0;"><a class="button-discord button-discord-info pure-button" href="https://discordapp.com/oauth2/authorize?&client_id={{ clientId }}&scope=bot&permissions=2097176631&guild_id={{ guild.getId }}&response_type=code&redirect_uri={{ websiteUrl }}dashboard">{{ DASHBOARD_ADD_LORITTA }}</a></div>
		{% endif %}
		</div>
		</div>
		</div>
		</div>
	</div>
	{% endfor %}
</div>
</div>
</div>
{% endblock %}