{% extends 'base.html' %}
{% block subtitle %}
Doar
{% endblock %}
{% block wrapper %}
<div class="oddWrapper">
<!-- Loritta Teste -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="6236021665"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: left;">
    <div class="pure-u-1 pure-u-md-1-4">
		<img class="animate-on-scroll-left is-invisible" src="https://loritta.website/assets/img/loritta_pobre.png" alt="Loritta Pobre" style="width: 100%;">
	</div>
    <div class="pure-u-1 pure-u-md-3-4">
		<div class="sectionText">
		<div class="sectionHeader">
		Doar
		</div>
<p>Para manter a Loritta online 24/7 (bem que as vezes ela fica offline para ir tomar água, ir almoçar no Outback e as vezes tomar um frappuccino sem café no Starbucks) é necessário pagar mensalmente uma hospedagem para ela!</p>
<p>Atualmente a Loritta está hospedada em um dedicado de 32GBs/4.00GHz na SoYouStart! Isso custa mais ou menos uns <b>260R$</b> por mês!</p>
<p>Por isto, se você tiver alguma grana de sobrando porque você resolveu não comprar aquele pão de queijo que parecia estar meio mofado lá no Barzinho do Vieirinha, que tal doar para a Loritta?</p>
		</div>
	</div>
</div>
</div>
</div>
</div>
<div class="evenWrapper">
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: left;">
    <div class="pure-u-1 pure-u-md-3-4">
		<div class="sectionText">
		<div class="sectionHeader">
		Como ajudar?
		</div>
<p>Obrigada por demonstrar interesse em querer me ajudar a ficar online! <img src="https://loritta.website/assets/img/blobCouple.png" style="height: 1.5em; vertical-align: -.4em;"></img> Isto significa muito para mim (afinal, sem dinheiro = sem hospedagem para eu ficar online 😭)</p>
<p>Existem várias formas de você poder me ajudar, escolha a que você preferir e, novamente, muito obrigada por querer me ajudar! <img src="https://loritta.website/assets/img/blobBlush.png" style="height: 1.5em; vertical-align: -.4em;"></img></p>
<p>Se você está em dúvida de qual forma de pagamento você deve usar...</p>
<p><b>Patreon:</b> Se você tiver um cartão internacional, quiser ajudar de uma forma recorrente (ou seja, a cada mês) e quiser que o seu nome apareça no <code class="inline">+patreon</code>, então pague via Patreon! <i>Esta é a melhor forma de me ajudar!</i></p>
<p><b>PayPal:</b> Se você tiver um cartão internacional ou tiver saldo no PayPal.</p>
<p><b>MercadoPago:</b> Se você tiver um cartão nacional, boleto bancário ou saldo no MercadoPago.</p>
<p><b>Bitcoin:</b> Se você tem Bitcoin. (meio óbvio isso né, nem sei porque precisei explicar)</p>
<a href="https://patreon.com/mrpowergamerbr" target="_blank"><div class="button-discord button-discord-info pure-button">Patreon</div></a>
<a><div class="button-discord button-discord-info pure-button" onclick="openMercadoPagoModal()">MercadoPago</div></a>
<a href="https://www.paypal.com/br/cgi-bin/webscr?cmd=_flow&SESSION=LzlJQI8jCQybecL22Bs4somm3zJKC_FACG8YS44Utx5e3PtEVUcMKkFyYvO&dispatch=5885d80a13c0db1f8e263663d3faee8dc3f308debf7330dd8d0b0a9f21afd7d3&rapidsState=Donation__DonationFlow___StateDonationLogin&rapidsStateSignature=e2cd808390c1a1c24b74fccdd4d045988a24c58e" target="_blank"><div class="button-discord button-discord-info pure-button">PayPal</div></a>
<div class="button-discord button-discord-info pure-button" onclick="openBitcoinModal()">Bitcoin</div>
<p>Se você pagar via Patreon, você irá receber o cargo <span style="color: rgb(155, 89, 182); background-color: rgba(155, 89, 182, 0.298039);  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600;">@💵🌆 Pagadores do Aluguel (Patreons)</span> no meu servidor, e ainda terá o seu nome no <code class="inline">+patreon</code>!</p>
<p>Se você pagar via PayPal/MercadoPago/Bitcoin, você irá receber o cargo <span style="color: rgb(113, 54, 138); background-color: rgba(113, 54, 138, 0.298039); font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600;">@😎🆒 Super Fã Clube da Loritta (Doadores)</span> no meu servidor!</p>
<p>Caso você pague via PayPal/MercadoPago/Bitcoin, envie uma mensagem para <code class="inline">MrPowerGamerBR#4185</code> comprovando que você pagou! 😉</p>
		</div>
	</div>
    <div class="pure-u-1 pure-u-md-1-4">
		<img id="money" src="https://loritta.website/assets/img/loritta_real.png" alt="Dinheiro" style="width: 100%;">
	</div>
</div>
</div>
</div>
</div>
<div class="oddWrapper">
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: center;">
    <div class="pure-u-1 pure-u-md-4-4">
		<div class="sectionText">
		<div class="sectionHeader">
		Patreons
		</div>
		<p><span style="color: rgb(155, 89, 182); background-color: rgba(155, 89, 182, 0.298039);  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600;">@💵🌆 Pagadores do Aluguel (Patreons)</span></p>
		{% for member in patreons %}
		<div class="pure-u-1 pure-u-md-1-4">
			<img style="border-radius: 999999px; width: 75%; background-color: rgb(47, 49, 54);" src="{{ member.user.getEffectiveAvatarUrl }}?size=2048" class="fanclub-server-icon is-invisible"></img></a>
			<p>{{ member.user.name }}#{{ member.user.discriminator }}</p>
		</div>
		{% endfor %}
		</div>
	</div>
</div>
</div>
</div>
</div>
<div class="evenWrapper">
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: center;">
    <div class="pure-u-1 pure-u-md-4-4">
		<div class="sectionText">
		<div class="sectionHeader">
		Doadores
		</div>
		<p><span style="color: rgb(113, 54, 138); background-color: rgba(113, 54, 138, 0.298039); font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600;">@😎🆒 Super Fã Clube da Loritta (Doadores)</span></p>
		{% for member in donators %}
		<div class="pure-u-1 pure-u-md-1-6">
			<div>
			<img style="border-radius: 999999px; width: 75%; background-color: rgb(47, 49, 54);" src="{{ member.user.getEffectiveAvatarUrl }}?size=2048" class="fanclub-server-icon is-invisible"></img></a>
			<p>{{ member.user.name }}#{{ member.user.discriminator }}</p>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
</div>
</div>
</div>
</div>
<div class="oddWrapper">
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: center;">
<div class="sectionText">
<div class="sectionHeader">
Obrigada a todos que me ajudaram!
</div>
<div>
<img height="300" class="animate-on-scroll-up is-invisible" src="https://loritta.website/assets/img/loritta_pudim.png" alt="Loritta com um pudim na mão">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="totallyHidden">		
<div class="tingle-demo bitcoin-modal">
<div class="test">
<div class="category-name">Endereço Bitcoin</div>
<code class="inline">1Ei2Gs6QZzYqGEvGHw422JkshFWTZ9SbQH</code>
</div>
</div>
<div class="tingle-demo mercadopago-modal">
<div class="test">
<div class="category-name">MercadoPago</div>
<form method="post">
  <div class="flavourText">Doação de...</div>
  <input style="width: 100%;" type="text" name="whodonated" {% if discordAuth != null %}{% if userIdentification != null %}value="{{ userIdentification.username }}#{{ userIdentification.discriminator }}"{% endif %}{% endif %} placeholder="{% if discordAuth != null %}{% if userIdentification != null %}
{{ userIdentification.username }}#{{ userIdentification.discriminator }}
{% endif %}
{% else %}
Irineu, você não sabe e nem eu
{% endif %}">
  <div class="flavourText">Valor da doação...</div>
  <input style="width: 100%;" type="text" name="grana" placeholder="5,00">
</form> 
</div>
</div>
</div>
{% endblock %}
{% block afterScripts %}
<script>
function openBitcoinModal() {
    var modal = new tingle.modal({
        closeMethods: [],
        footer: true
		});
		
    modal.addFooterBtn('Fechar', "button-discord button-discord-info pure-button button-discord-modal", function(){	
		modal.close();
    });
	
	var cloned = $(".bitcoin-modal").clone()
	
    modal.setContent(cloned.html());
	modal.open();
}

function openMercadoPagoModal() {
    var modal = new tingle.modal({
        closeMethods: [],
        footer: true
		});
		
    modal.addFooterBtn('Pagar', "button-discord button-discord-info pure-button button-discord-modal", function(){	
		modal.close();
    });
	
    modal.addFooterBtn('Fechar', "button-discord button-discord-info pure-button button-discord-modal-secondary-action", function(){	
		modal.close();
    });
	
	var cloned = $(".mercadopago-modal").clone()
	
    modal.setContent(cloned.html());
	modal.open();
}
// Example:
onViewport(".animate-on-scroll-left", "animated fadeInLeft", 0, function(el) {
  el.removeClass("is-invisible");
});

onViewport(".animate-on-scroll-right", "animated fadeInRight", 0, function(el) {
  el.removeClass("is-invisible");
});

onViewport(".animate-on-scroll-up", "animated fadeInUp", 0, function(el) {
  el.removeClass("is-invisible");
});

onViewport(".fanclub-server-icon", "animated fadeInUp", 250, function(el) {
  el.removeClass("is-invisible");
});
</script>
{% endblock %}