{% extends "base.html" %}
{% block leftColumn %}
<div class="content">
<div class="smTitleBar">
Doar
</div>
<div class="insideContent" style="text-align: center;">
<p>Para manter a Loritta online 24/7 (bem que as vezes ela fica offline para ir tomar água, ir almoçar no Outback e as vezes tomar um frappuccino sem café no Starbucks) é necessário pagar mensalmente uma hospedagem para ela!</p>
<p>Atualmente a Loritta está hospedada em um dedicado de 32GBs/4.00GHz na SoYouStart! Isso custa mais ou menos uns <b>230R$</b> por mês!</p>
<p>Por isto, se você tiver alguma grana de sobrando porque você resolveu não comprar aquele pão de queijo que parecia estar meio mofado lá no Barzinho do Vieirinha, que tal doar para a Loritta?</p>
<p>Dica: Se você gostar de Minecraft, você pode comprar um VIP (ou qualquer outra coisa) no <a href="http://sparklypower.net/loja">site da loja do meu servidor</a>! Assim você estará ajudando a Loritta (já que a Loritta é hospedada no mesmo dedicado do meu servidor) e ainda por cima ganha algumas vantagens no meu servidor!</p>
<form method="post">
  Doação de...<br>
  <input type="text" name="whodonated" placeholder="Irineu, você não sabe e nem eu!">
  <br>
  Quanto<br>
  <input type="text" name="grana" placeholder="5,00">
  <br>
  <input type="submit" value="Doar">
</form> 
</div>
</div>
{% endblock %}
{% block rightColumn %}
{% include "widgets.html" %}
{% endblock %}