{% extends 'base.html' %}
{% block subtitle %}
{{ WEBSITE_DONATE }}
{% endblock %}
{% block wrapper %}
<div class="oddWrapper">
<!-- Loritta Teste -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="6236021665"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Loritta Teste 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="8369584507"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: left;">
    <div class="pure-u-1 pure-u-md-1-4">
		<img class="animate-on-scroll-left is-invisible" src="https://loritta.website/assets/img/loritta_pobre.png" alt="Loritta Pobre" style="width: 100%;">
	</div>
    <div class="pure-u-1 pure-u-md-3-4">
		<div class="sectionText">
		<div class="sectionHeader">
		{{ WEBSITE_DONATE }}
		</div>
{{ WEBSITE_DONATE_EXPLAIN|raw }}
		</div>
	</div>
</div>
</div>
</div>
</div>
<div class="evenWrapper">
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: left;">
    <div class="pure-u-1 pure-u-md-3-4">
		<div class="sectionText">
		<div class="sectionHeader">
		{{ WEBSITE_DONATE_HowToHelp|raw }}
		</div>
{{ WEBSITE_DONATE_HelpExplain|raw }}
<a href="https://patreon.com/mrpowergamerbr" target="_blank"><div class="button-discord button-discord-info pure-button">Patreon</div></a>
<a><div class="button-discord button-discord-info pure-button" onclick="openMercadoPagoModal()">MercadoPago</div></a>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JMDNYD8X3UXVS" target="_blank"><div class="button-discord button-discord-info pure-button">PayPal</div></a>
<div class="button-discord button-discord-info pure-button" onclick="openBitcoinModal()">Bitcoin & Dogecoin</div>
{{ WEBSITE_DONATE_Rewards|raw }}
		</div>
	</div>
    <div class="pure-u-1 pure-u-md-1-4">
		<img id="money" src="https://loritta.website/assets/img/loritta_real.png" alt="Dinheiro" style="width: 100%;">
	</div>
</div>
</div>
</div>
</div>
<div class="oddWrapper">
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: center;">
    <div class="pure-u-1 pure-u-md-4-4">
		<div class="sectionText">
		<div class="sectionHeader">
		Patreons
		</div>
		<p><span style="color: rgb(155, 89, 182); background-color: rgba(155, 89, 182, 0.298039);  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600;">@💵🌆 Pagadores do Aluguel (Patreons)</span></p>
		{% for member in patreons %}
		<div class="pure-u-1 pure-u-md-1-4">
			<img style="border-radius: 999999px; width: 75%; background-color: rgb(47, 49, 54);" src="{{ member.user.getEffectiveAvatarUrl }}?size=2048" class="fanclub-server-icon is-invisible"></img></a>
			<p>{{ member.user.name }}#{{ member.user.discriminator }}</p>
		</div>
		{% endfor %}
		</div>
	</div>
</div>
</div>
</div>
</div>
<div class="evenWrapper">
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: center;">
    <div class="pure-u-1 pure-u-md-4-4">
		<div class="sectionText">
		<div class="sectionHeader">
		{{ WEBSITE_DONATE_Donators }}
		</div>
		<p><span style="color: rgb(113, 54, 138); background-color: rgba(113, 54, 138, 0.298039); font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600;">@😎🆒 Super Fã Clube da Loritta (Doadores)</span></p>
		{% for member in donators %}
		<div class="pure-u-1 pure-u-md-1-6">
			<div>
			<img style="border-radius: 999999px; width: 75%; background-color: rgb(47, 49, 54);" src="{{ member.user.getEffectiveAvatarUrl }}?size=2048" class="fanclub-server-icon is-invisible"></img></a>
			<p>{{ member.user.name }}#{{ member.user.discriminator }}</p>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
</div>
</div>
</div>
</div>
<div class="oddWrapper">
<div class="contentWrapper">
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: center;">
<div class="sectionText">
<div class="sectionHeader">
{{ WEBSITE_DONATE_ThanksToEveryone }}
</div>
<div>
<img height="300" class="animate-on-scroll-up is-invisible" src="https://loritta.website/assets/img/loritta_pudim.png" alt="Loritta com um pudim na mão">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="totallyHidden">		
<div class="tingle-demo bitcoin-modal">
<div class="test">
<div class="category-name">{{ WEBSITE_DONATE_BitcoinAddress }}</div>
<code class="inline">1Ei2Gs6QZzYqGEvGHw422JkshFWTZ9SbQH</code>
<div class="category-name">Endereço Dogecoin</div>
<code class="inline">D7gm4YYsMWuYWyuBxrbACfGdVgB9PH4RuY</code>
</div>
</div>
<div class="tingle-demo mercadopago-modal">
<div class="test">
<div class="category-name">MercadoPago</div>
<form class="mercadopago-payment-form" method="post">
  <div class="flavourText">Doação de...</div>
  <input style="width: 100%;" type="text" name="who-donated" {% if discordAuth != null %}{% if userIdentification != null %}value="{{ userIdentification.username }}#{{ userIdentification.discriminator }}"{% endif %}{% endif %} placeholder="{% if discordAuth != null %}{% if userIdentification != null %}
{{ userIdentification.username }}#{{ userIdentification.discriminator }}
{% endif %}
{% else %}
Irineu, você não sabe e nem eu
{% endif %}">
  <div class="flavourText">Valor da doação...</div>
  <input style="width: 100%;" type="text" name="grana" placeholder="5,00">
</form> 
</div>
</div>
</div>
{% endblock %}
{% block afterScripts %}
<script>
function openBitcoinModal() {
    var modal = new tingle.modal({
        closeMethods: [],
        footer: true
		});
		
    modal.addFooterBtn('Fechar', "button-discord button-discord-info pure-button button-discord-modal", function(){	
		modal.close();
    });
	
	var cloned = $(".bitcoin-modal").clone()
	
    modal.setContent(cloned.html());
	modal.open();
}

function openMercadoPagoModal() {
    var modal = new tingle.modal({
        closeMethods: [],
        footer: true
		});
	
	var guid = uuidv4();
    modal.addFooterBtn('Pagar', "button-discord button-discord-info pure-button button-discord-modal", function(){	
		$("#" + guid).find(".mercadopago-payment-form").submit();
		// modal.close();
    });
	
    modal.addFooterBtn('Fechar', "button-discord button-discord-info pure-button button-discord-modal-secondary-action", function(){	
		modal.close();
    });
	
	var cloned = $(".mercadopago-modal").clone()
	
	cloned.children().attr("id", guid); 
    modal.setContent(cloned.html());
	modal.open();
}
// Example:
onViewport(".animate-on-scroll-left", "animated fadeInLeft", 0, function(el) {
  el.removeClass("is-invisible");
});

onViewport(".animate-on-scroll-right", "animated fadeInRight", 0, function(el) {
  el.removeClass("is-invisible");
});

onViewport(".animate-on-scroll-up", "animated fadeInUp", 0, function(el) {
  el.removeClass("is-invisible");
});

onViewport(".fanclub-server-icon", "animated fadeInUp", 250, function(el) {
  el.removeClass("is-invisible");
});

function uuidv4() {
  return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  )
}
</script>
{% endblock %}