{% extends "server_config.html" %}
{% block configName %}Event Handlers em JavaScript{% endblock %}
{% block configContent %}
<div style="text-align: center;">
<p>Querendo criar alguns comandos "avançados" demais para o sistema básico de comandos? Sem problemas! Você pode criar seus próprios comandos usando JavaScript!</p>
</div>
<h1>Lista de event handlers atuais</h1>
{% if serverConfig.nashornEventHandlers|length == 0 %}
Nenhum comando!
{% else %}
{% for cmd in serverConfig.nashornEventHandlers %}
<div class="pure-g" style="text-align: center;">
    <div class="pure-u-1 pure-u-md-7-8">
		<p class="toggleMainText">{{ cmd.jsScriptName }}</p>
		<div class="toggleSubText">{{ cmd.createdDate }}</div>
	</div>
    <div class="pure-u-1 pure-u-md-1-8">
	    <a href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/events/editor/{{ cmd.getId.toString }}"><button type="button" class="button-secondary pure-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a><form style="display: inline;"><input type="hidden" name="deleteCommand" value="{{ cmd.getId }}"><button type="submit" class="button-secondary pure-button"><i class="fa fa-times" aria-hidden="true"></i></button></form>
	</div>
</div>
<hr>
{% endfor %}
{% endif %}
<a class="button-success pure-button" href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/events/editor"><i class="fa fa-plus-circle" aria-hidden="true"></i> Criar novo Event Handler</a>
{% endblock %}