{% extends "home.html" %}
{% block leftColumn %}
<div class="content">
<div class="smTitleBar">
Fan Arts
</div>
<div class="insideContent" id="fanArts">
<img src="{{ websiteUrl }}assets/img/fan_arts_logo.png"></img>
<p>Sabia que existem pessoas que gostam de me desenhar só porque eu ajudei no servidor delas? 😲 (Sim, eu estou surpresa!)</p>
<p>Então eu resolvi colocar nesta página todas as fan arts que fizeram de mim! Obrigada a todos que fizeram estas fan arts, eu fico muito agradecida!</p>
<p>Aliás, se você quiser enviar uma fan art para mim, envie para <a href="https://discord.gg/3rXgN8x">a minha guild no Discord</a>! Eu tento colocar todas as fan arts que fazem de mim aqui! (exceto se for algo obsceno... estou falando sério, não desenhe coisas assim... se você tem o potencial para desenhar coisas maravilhosas, para que gastar seu tempo e criatividade com desenhos assim? 🙅)</p>
<p>Agora chega de enrolação e vamos ver as incríveis artes que fizeram! (Clique nelas para abrir a imagem em uma aba separada!)</p>
<hr>
<div class="pure-g" style="text-align: center;" id="fanArtDisplay">
    <div class="pure-u-1 pure-u-md-1-3">
	    <div class="fanArtWrapper">
			<a href='https://loritta.website/assets/img/loritta_fixed_final_cropped.png' target="_blank"><img src="https://loritta.website/assets/img/loritta_fixed_final_cropped.png"></img></a>
			<p><b>por Gabriela Giulian</b></p>
			<p>Discord: Giovanna_GGold#2454</br>YouTube: <a href="http://bit.ly/2udUNZG">http://bit.ly/2udUNZG</a></p>
		</div>
	</div>
    <div class="pure-u-1 pure-u-md-1-3">
		<div class="fanArtWrapper">
			<a href='https://loritta.website/assets/img/fanarts/Loritta_-_Poker.png' target="_blank"><img src="https://loritta.website/assets/img/fanarts/Loritta_-_Poker.png"></img></a>
			<p><b>por _Poker_Face_</b></p>
			<p>Discord: heh#6029</p>
		</div>
	</div>
    <div class="pure-u-1 pure-u-md-1-3">
		<div class="fanArtWrapper">
			<a href='https://loritta.website/assets/img/fanarts/Loritta_-_Shadow_Kisha-tu.png' target="_blank"><img src="https://loritta.website/assets/img/fanarts/Loritta_-_Shadow_Kisha-tu.png"></img></a>
			<p><b>por Shadow Kisha-tu#1151</b></p>
			<p>Discord: Shadow Kisha-tu#1151</p>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}
{% block rightColumn %}
{% include "widgets.html" %}
{% endblock %}