{% extends "base.html" %}
{% block leftColumn %}
<div class="content">
<div class="smTitleBar">
{{ locale.WEBSITE_ABOUT }}
</div>
<div class="insideContent">
<div>
<img src="{{ websiteUrl }}assets/img/loritta_tophalf.png" alt="Foto da Loritta" style="float: left;" width="358"></img>
{{ locale.WEBSITE_INTRO | raw }}
<div style="text-align: center;">
<h2>Como adicionar a Loritta no seu Servidor</h2>
Faça login clicando <a href="https://loritta.website/auth">aqui</a>, depois escolha o servidor que você deseja adicionar ela!
<img alt="Banner de Divulgação da Loritta" src="{{ websiteUrl }}assets/img/loritta_banner.png"></img>
</div>
</div>
</div>
{% endblock %}
{% block rightColumn %}
{% include "widgets.html" %}
{% endblock %}