{% extends "base.html" %}
{% block leftColumn %}
<div class="content">
<div class="smTitleBar">
Sobre a Loritta
</div>
<div class="insideContent">
<p>A Loritta (ou para amigos próximos, "Lori") é um bot com várias funções, simples, modular, fácil e extremamente customizável para você usar para o seu servidor no Discord!</p>
<p>Ela foi criada devido a falta de bots para servidores brasileiros, já que a maioria dos bots só "digitam" em inglês, ficando difícil para pessoas que não sabem inglês, sem contar que fica estranho um chat misturado com português e inglês.</p>
<div style="text-align: center;">
<h2>Como adicionar a Loritta no seu Servidor</h2>
Faça login clicando <a href="https://loritta.website/auth">aqui</a>, depois escolha o servidor que você deseja adicionar ela!
<img src="https://i.imgur.com/42wQl5a.png"></img>
</div>
</div>
</div>
{% endblock %}
{% block rightColumn %}
{% include "widgets.html" %}
{% endblock %}