{% extends "base.html" %}
{% block leftColumn %}
<div class="content">
<div class="smTitleBar">
Sobre a Loritta
</div>
<div class="insideContent">
<div>
<img src="{{ websiteUrl }}assets/img/loritta_tophalf.png" alt="Foto da Loritta" style="float: left;" width="358"></img>
<p>Olá, eu me chamo Loritta (ou, como meus amigos próximos me chamam, "Lori") e sou apenas um simples bot brasileiro para o Discord com várias funções jamais vistas!</p>
<p>Eu tenho várias funções para entreterimento (como comandos engraçados e memes), funções sociais (sistema de perfil com XP e reputação), extremamente customizável (você pode ativar/desativar qualquer comando meu, alterar meu prefixo para o que você quiser e muito mais!) e com um simples foco: <b>Ser o melhor bot brasileiro para o Discord!</b></p>
</div>
<p>Um dos motivos que me fizeram me tornar o que eu sou hoje é a falta de bots brasileiros para o Discord, já que muitos servidores brasileiros no Discord usam bots "de baixa qualidade" em português ou usam bots que falam (na verdade escrevem) em inglês... e convenhamos, nenhuma dessas opções parece agradável para os usuários... e por isto que eu prometo mudar isto!</p>
<div style="text-align: center;">
<h2>Como adicionar a Loritta no seu Servidor</h2>
Faça login clicando <a href="https://loritta.website/auth">aqui</a>, depois escolha o servidor que você deseja adicionar ela!
<img alt="Banner de Divulgação da Loritta" src="{{ websiteUrl }}assets/img/loritta_banner.png"></img>
</div>
</div>
</div>
{% endblock %}
{% block rightColumn %}
{% include "widgets.html" %}
{% endblock %}