{% extends "server_config.html" %}
{% block configName %}Mensagens ao Entrar/Sair{% endblock %}
{% block configContent %}

<form method="post">
<div style="text-align: center;">
<p>Ativar o módulo?</p>
<input type="checkbox" name="enableModule" value="true" {% if serverConfig.joinLeaveConfig.isEnabled == true %}checked{% endif %}>
</div>
<hr>
<input type="checkbox" name="tellOnJoin" value="true" {% if serverConfig.joinLeaveConfig.tellOnJoin == true %}checked{% endif %}> Ativar as mensagens quando alguém entrar?
</br>
<input type="checkbox" name="tellOnLeave" value="true" {% if serverConfig.joinLeaveConfig.tellOnLeave == true %}checked{% endif %}> Ativar as mensagens quando alguém sair?
</br>
Canal para anunciar quando alguém entra:
<select name="canalJoin">
    {% for textChannel in currentServerJda.getTextChannels %}
    <option value="{{ textChannel.getId }}" {% if textChannel.getId == serverConfig.joinLeaveConfig.canalJoinId %}selected="selected"{% endif %}>{{ textChannel.getName }}</option>
	{% endfor %}
  </select>
</br>
Canal para anunciar quando alguém sair:
<select name="canalLeave">
  {% for textChannel in currentServerJda.getTextChannels %}
  <option value="{{ textChannel.getId }}" {% if textChannel.getId == serverConfig.joinLeaveConfig.canalLeaveId %}selected="selected"{% endif %}>{{ textChannel.getName }}</option>
  {% endfor %}
</select>
</br>
Mensagem quando entrar: <input type="text" name="joinMessage" value="{{ serverConfig.joinLeaveConfig.joinMessage }}">
</br>
Mensagem quando sair: <input type="text" name="leaveMessage" value="{{ serverConfig.joinLeaveConfig.leaveMessage }}">
</br>
<input type="submit" data-inline="true" value="Salvar">
</form>

{% endblock %}