{% extends "server_config.html" %}
{% block configName %}Comandos{% endblock %}
{% block configContent %}
<div style="text-align: center;">
<p>Aqui você pode desativar comandos desnecessários para o seu servidor!</p>
{% if serverConfig.debugOptions.enableAllModules == true %}
<h1 style="color: red;">A opção de "todos os módulos" está ativada!</h1>
<p style="color: red;">Nada que você mudar aqui terá efeito até você desativar esta opção!</p>
<p>Para desativar, vá nas opções gerais da Loritta!</p>
{% endif %}
</div>
{% for cmd in cmdOptions %}
<div class="remodal" data-remodal-id="{{ cmd.getKey.getClass.getSimpleName }}Options">
<button data-remodal-action="close" class="remodal-close"></button>
<form method="post">
{% for field in cmd.getValue().getClass.getFields %}
{% set optionName = field.getName %}
{% if field.getName == "override" %}
{% set optionName = "Ativar sobreposição de opções dos comandos, você DEVE ativar isto para alterar as próximas 5 opções! Caso contrário o comando irá usar as opções globais dos comandos!" %}
{% endif %}
{% if field.getName == "explainOnCommandRun" %}
{% set optionName = "Explicar ao executar o comando? (Ou ao usar 🤷 como argumento)" %}
{% endif %}
{% if field.getName == "explainInPrivate" %}
{% set optionName = "Explicar o comando no privado? (A opção acima precisa estar ativada!)" %}
{% endif %}
{% if field.getName == "commandOutputInPrivate" %}
{% set optionName = "Envie as mensagens do comando no privado?" %}
{% endif %}
{% if field.getName == "mentionOnCommandOutput" %}
{% set optionName = "Mencionar o usuário que executou o comando?" %}
{% endif %}
{% if field.getName == "deleteMessageAfterCommand" %}
{% set optionName = "Deletar a mensagem de quem executou o comando?" %}
{% endif %}
{% if field.getName == "mentionEveryone" %}
{% set optionName = "Mencionar todos que apareceram na imagem?" %}
{% endif %}
{% if field.getName == "hideDiscordTags" %}
{% set optionName = "Esconde as Discord tags dos usuários que apareceram na imagem" %}
{% endif %}
<input type="checkbox" name="{{ field.getName }}" value="true" {% if field.get(cmd.getValue) == true %}checked{% endif %}> {{ optionName }}</br>
{% endfor %}
<input type="hidden" name="editingCommandOptions" value="{{ cmd.getKey.getClass.getSimpleName }}">
<button class="button_danger autoSubmit"> Salvar Alterações</button></div>
</form>
{% endfor %}
<form method="post">
<div class="pure-g">
{% for cmd in availableCmds %}
<div class="pure-u-1 pure-u-md-1-4">
<div class="commandInfoWrapper">
{% set disabled = disabledCmds contains cmd %}
<input type="checkbox" name="{{ cmd.getClass.getSimpleName }}" value="true" {% if disabled == false %}checked{% endif %}> {{ serverConfig.commandPrefix }}{{ cmd.getLabel }}</br>
<hr class="commandInfoHr">
{{ cmd.getDescription }}</br>
<div style="text-align: center;">
<a href="#{{ cmd.getClass.getSimpleName }}Options"><button type="button" class="button-secondary pure-button"><i class="fa fa-cogs" aria-hidden="true"></i></button></a>
</div>
</div></div>
</br>
{% endfor %}
</div>
<div style="text-align: center;">
<input type="submit" value="Salvar">
</div>
<input type="hidden" name="editingCmds" value="true">
</form>
</br>
<div style="text-align: center;">
<p>Preguiça de ativar todos os comandos? Então clique neste botão!</p>
<form method="post">
<input type="submit" value="Ativar TODOS os comandos!">
<input type="hidden" name="activateAllCommands" value="true">
</div>
</form>
<div style="text-align: center;">
<p>Preguiça de desativar todos os comandos? Então clique neste botão!</p>
<form method="post">
<input type="submit" value="Desativar TODOS os comandos!">
<input type="hidden" name="deactivateAllCommands" value="true">
</div>
</form>
<script>
$('form').on('submit', function(e){
    if ($('form').hasClass("autoSubmit")) {
		e.preventDefault();
		$.ajax({
		   type: "POST",
		   url: window.location.href,
		   data: $(this).serialize(),
		   success: function() {
		   }
		});
	}
});
</script>
{% endblock %}