{% extends "server_config.html" %}
{% block configName %}Comandos em JavaScript{% endblock %}
{% block configContent %}
<div style="text-align: center;">
<h1>Experimental</h1>
<h2>Atualmente isto é um módulo experimental, use por conta e risco!</h2>
<h3>O módulo de comandos personalizados está em fase de testes, pode ser que seja removido no futuro!</h3>
<p>Querendo criar alguns comandos "avançados" demais para o sistema básico de comandos? Sem problemas! Você pode criar seus próprios comandos usando JavaScript!</p>
</div>
<h1>Lista de comandos atuais</h1>
{% if serverConfig.nashornCommands|length == 0 %}
Nenhum comando!
{% else %}
{% for cmd in serverConfig.nashornCommands %}
<hr class="commandInfoHr">
<form><input type="hidden" name="deleteCommand" value="{{ cmd.label }}"><button type="submit" class="button-secondary pure-button"><i class="fa fa-times" aria-hidden="true"></i></button> {{ serverConfig.commandPrefix }}{{ cmd.label }}</form>
{% endfor %}
{% endif %}
<h2>Criar o seu novo comando!</h2>
<form method="post">
  Nome do comando:
  <input type="text" name="commandName" placeholder="regras">
  <br>
  Código:<br>
  <textarea rows="4" cols="50" name="commandResponse" placeholder='responder("Loritta 😘");'></textarea>
  <br><br>
  <input type="submit" value="Criar novo comando">
</form> 
<h2>API da Loritta</h2>
<p>A Loritta tem uma API básica para você poder criar seus próprios comandos!</p>
<hr class="commandInfoHr">
<div class="insideContent" style="text-align: left; font-size: 1.25em; font-weight: bold;">
responder(texto) <span style="color: gray; font-weight: initial;">Envia uma mensagem "@Usuário texto"</span></div>
<hr class="commandInfoHr">
<div class="insideContent" style="text-align: left; font-size: 1.25em; font-weight: bold;">
enviarMensagem(texto) <span style="color: gray; font-weight: initial;">Envia uma mensagem "texto"</span></div>
<hr class="commandInfoHr">
<div class="insideContent" style="text-align: left; font-size: 1.25em; font-weight: bold;">
loritta() <span style="color: gray; font-weight: initial;">Retorna "Loritta!"</span></div>
<hr class="commandInfoHr">
<div class="insideContent" style="text-align: left; font-size: 1.25em; font-weight: bold;">
pegarConteúdoDeUmaURL(url) <span style="color: gray; font-weight: initial;">Retorna o conteúdo de uma URL</span></div>
<hr class="commandInfoHr">
<div class="insideContent" style="text-align: left; font-size: 1.25em; font-weight: bold;">
pegarArgumento(index) <span style="color: gray; font-weight: initial;">Pega o argumento na index selecionada</span></div>
<hr class="commandInfoHr">
<div class="insideContent" style="text-align: left; font-size: 1.25em; font-weight: bold;">
argumento(index, texto) <span style="color: gray; font-weight: initial;">Retorna se o argumento na index selecionada é igual ao texto</span></div>
{% endblock %}