{% extends "home.html" %}
{% block subtitle %}Servidores que usam a Loritta{% endblock %}
{% block leftColumn %}
<div class="content">
<div class="smTitleBar">
Servidores que usam a Loritta
</div>
<p>Isto é apenas uma lista para ver quantas pessoas estão usando a Loritta</p>
<div class="insideContent">
<div style="text-align: center; background-color: rgb(30, 33, 36); padding: 5px; border-radius: 7px;">
{# https://discordapp.com/oauth2/authorize?client_id=297153970613387264&scope=bot&guild_id=297732013006389252&response_type=code&redirect_uri=https://www.dynobot.net/return&permissions=2097176631 #}
<div class="pure-g">
{% for guild in guilds %}
    <div class="pure-u-1 pure-u-md-1-3"><img style="width: 32px; height: 32px; border-radius: 100%;" src="{% if guild.getIconUrl != null %}{{ guild.getIconUrl }}{% else %}{{ websiteUrl }}assets/img/unknown.png{% endif %}" alt="{{ guild.getId }}"></img></br>{{ guild.name }} ({{ guild.getMembers.size }} membros)</div>
{% endfor %}
</div>
</div>
</div>
</div>
{% endblock %}
{% block rightColumn %}
{% include "widgets.html" %}
{% endblock %}