{% extends "base.html" %}
{% block beforeLeftColumn %}
<div id="leftColumnConfig">
<div class="content">
<div class="smTitleBar">
{{ currentServer.getName }}
</div>
<div style="text-align: center;">
<img style="width: 128px; height: auto; border-radius: 100%;" src="{% if currentServer.icon != null %}https://cdn.discordapp.com/icons/{{ currentServer.id }}/{{ currentServer.icon }}.png{% else %}{{ websiteUrl }}assets/img/unknown.png{% endif %}"></img>
</div>
<div id="verticalNavBar">
<ul>
  <li><a {% if whereAmI == "mainPage" %}class="active"{% endif %} href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}"><i {% if whereAmI == "mainPage" %}style="color: rgb(109, 113, 119);"{% endif %} class="fa fa-cube" aria-hidden="true"></i> Configurações Gerais</a></li>
  <li><a {% if whereAmI == "moduleConfig" %}class="active"{% endif %} href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/commands"><i {% if whereAmI == "moduleConfig" %}style="color: rgb(109, 113, 119);"{% endif %} class="fa fa-terminal" aria-hidden="true"></i> Comandos</a></li>
  <li><a {% if whereAmI == "nashornCommands" %}class="active"{% endif %} href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/nashorn"><i {% if whereAmI == "customCommands" %}style="color: rgb(109, 113, 119);"{% endif %} class="fa fa-file-code-o" aria-hidden="true"></i> Comandos em JavaScript (Nashorn)</a></li>
  <li><a {% if whereAmI == "joinConfig" %}class="active"{% endif %} href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/joinconfig"><i {% if whereAmI == "joinConfig" %}style="color: rgb(109, 113, 119);"{% endif %} class="fa fa-star" aria-hidden="true"></i> Mensagens ao Entrar/Sair</a></li>
  <li><a {% if whereAmI == "musicConfig" %}class="active"{% endif %} href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/music"><i {% if whereAmI == "musicConfig" %}style="color: rgb(109, 113, 119);"{% endif %} class="fa fa-music" aria-hidden="true"></i> DJ Loritta</a></li>
  <li><a {% if whereAmI == "youTubeConfig" %}class="active"{% endif %} href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/youtube"><i {% if whereAmI == "youTubeConfig" %}style="color: rgb(109, 113, 119);"{% endif %} class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</a></li>
  <li><a {% if whereAmI == "aminoConfig" %}class="active"{% endif %} href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/amino"><i {% if whereAmI == "aminoConfig" %}style="color: rgb(109, 113, 119);"{% endif %} class="fa fa-expand" aria-hidden="true"></i> Sincronização com o Amino</a></li>
  <li><a {% if whereAmI == "starboardConfig" %}class="active"{% endif %} href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/starboard"><i {% if whereAmI == "starboardConfig" %}style="color: rgb(109, 113, 119);"{% endif %} class="fa fa-star" aria-hidden="true"></i> Starboard</a></li>
</ul>
</div>
</div>
</div>
{% endblock %}
{% block beforeRightColumn %}
<div id="rightColumnConfig">
<div class="content">
<div class="smTitleBar">
{% block configName %}
Configuração
{% endblock %}
</div>
<div class="insideContent" style="text-align: left;">
{% block configContent %}
<h1>Painel de administração ainda está em desenvolvimento!</h1>
<div class="userOptionsWrapper">
<div class="pure-g">
	<div class="pure-u-1 pure-u-md-1-6">
		<img style="border-radius: 99999px; height: 100px;" src="{{ websiteUrl }}assets/img/loritta_discord_avatar.png"></img>
	</div>
	<div class="pure-u-1 pure-u-md-2-3">
		<div class="flavourText">Prefixo</div>
		<form method="post">
			<input type="text" name="commandPrefix" value="{{ serverConfig.commandPrefix }}">
			<div class="toggleSubText">Prefixo é usado antes de qualquer comando da Loritta, por exemplo, "{{ serverConfig.commandPrefix }}ajuda".</div>
			<button class="button-success pure-button">Salvar</button>
		</form>
	</div>
</div>
</div>
<form method="post">
{# Explicar Comandos #}
<div class="pure-g" style="text-align: center;">
    <div class="pure-u-1 pure-u-md-7-8">
		<p class="toggleMainText">Explicar comandos ao executar eles sem usar nenhum argumento.</p>
		<div class="toggleSubText">Caso o comando não tenha argumentos obrigatórios, você pode usar 🤷 como primeiro argumento para obter a ajuda do comando.</div>
	</div>
    <div class="pure-u-1 pure-u-md-1-8">
		<div class="switch">
		  <input type="checkbox" name="explainOnCommandRun" value="true" {% if serverConfig.explainOnCommandRun == true %}checked{% endif %} id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
		  <label for="cmn-toggle-1"></label>
		</div>
	</div>
</div>
<hr>
{# Mencionar Usuário #}
<div class="pure-g" style="text-align: center;">
    <div class="pure-u-1 pure-u-md-7-8">
		<p class="toggleMainText">Mencionar quem executou o comando.</p>
		<div class="toggleSubText">Ao executar um comando, a Loritta sempre irá mencionar quem executou o comando.</div>
	</div>
    <div class="pure-u-1 pure-u-md-1-8">
		<div class="switch">
		  <input type="checkbox" name="mentionOnCommandOutput" value="true" {% if serverConfig.mentionOnCommandOutput == true %}checked{% endif %} id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox">
		  <label for="cmn-toggle-2"></label>
		</div>
	</div>
</div>
<hr>
{# Avisar #}
<div class="pure-g" style="text-align: center;">
    <div class="pure-u-1 pure-u-md-7-8">
		<p class="toggleMainText">Avisar quando a Loritta não tem permissão para falar em um canal.</p>
		<div class="toggleSubText">Se não for possível responder uma mensagem devido a falta de permissões, a Loritta irá avisar para a equipe do servidor.</div>
	</div>
    <div class="pure-u-1 pure-u-md-1-8">
		<div class="switch">
		  <input type="checkbox" name="warnOnMissingPermission" value="true" {% if serverConfig.warnOnMissingPermission == true %}checked{% endif %} id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round" type="checkbox">
		  <label for="cmn-toggle-3"></label>
		</div>
	</div>
</div>
<hr>
<input type="hidden" name="commandMagic" value="true">
<input class="button-success pure-button" type="submit" value="Salvar">
</form>
{% endblock %}
</div>
</div>
{% endblock %}