{% extends "server_config.html" %}
{% block configName %}Starboard{% endblock %}
{% block configContent %}

<form method="post">
<div class="pure-g" style="text-align: center;">
    <div class="pure-u-1 pure-u-md-7-8">
		<p class="toggleMainText">Ativar o módulo?</p>
	</div>
    <div class="pure-u-1 pure-u-md-1-8">
		<div class="switch">
		  <input type="checkbox" name="enableModule" value="true" {% if serverConfig.starboardConfig.isEnabled == true %}checked{% endif %} id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
		  <label for="cmn-toggle-1"></label>
		</div>
	</div>
</div>
<hr>
<div id="hiddenIfDisabled">
<div class="flavourText">Canal para anunciar as mensagens que receberam <i class="fa fa-star" aria-hidden="true"></i></div>
	<select name="starboardId">
		{% for textChannel in currentServerJda.getTextChannels %}
		{% if textChannel.canTalk %}
		<option value="{{ textChannel.getId }}" {% if textChannel.getId == serverConfig.starboardConfig.starboardId %}selected="selected"{% endif %}>{{ textChannel.getName }}</option>
		{% endif %}
		{% endfor %}
	</select>
<hr>
</div>
<input class="button-success pure-button" type="submit" value="Salvar">
</form>
<script>
$("#cmn-toggle-1").click(function(e) {
	applyBlur()
});

function applyBlur() {
  var e = $("#hiddenIfDisabled");
  if ($('#cmn-toggle-1').is(':checked')) {
	e.removeClass();
	e.addClass("noBlur");
  } else {
    e.removeClass();
	e.addClass("blurSection");
  }
}

applyBlur();
</script>
{% endblock %}