{% extends "server_config.html" %}
{% block configName %}YouTube{% endblock %}
{% block configContent %}

<form method="post">
<div class="flavourText">{{ locale.strings["WEBSITE_YOUTUBE_ON_RECEIVED"] }}</div>
	<textarea id="videoSentMessage" name="videoSentMessage">{{ config.videoSentMessage }}</textarea>
	<div class="flavourText">Varíaveis</div>
	<pre class="discordPre">{link} - Link do vídeo
{título} - Título do vídeo
{canal} - Nome do canal
{descrição} - Descrição do vídeo</pre>
	<hr>
	<div class="flavourText">{{ locale.strings["WEBSITE_YOUTUBE_CHANNEL"] }}</div>
	<select name="repostToChannelId">
		{% for textChannel in currentServerJda.getTextChannels %}
		<option value="{{ textChannel.getId }}" {% if textChannel.getId == config.repostToChannelId %}selected="selected"{% endif %}>{{ textChannel.getName }}</option>
		{% endfor %}
	  </select>
<hr>
<div class="flavourText">{{ locale.strings["WEBSITE_YOUTUBE_CHANNEL_URL"] }}</div>
<input type="text" name="channelUrl" value="{{ config.channelUrl }}">
<hr>
<div class="flavourText">{{ locale.strings["WEBSITE_YOUTUBE_CHANNEL_ID"] }}</div>
<input type="text" value="{{ config.channelId }}" readonly>
<hr>
<input class="button-success pure-button" type="submit" value='{{ locale.strings["WEBSITE_SAVE_IT"] }}'>
</form>
{% endblock %}