{% extends "server_config.html" %}
{% block configName %}YouTube{% endblock %}
{% block configContent %}

{% set config = serverConfig.youTubeConfig %}
<form method="post">
<h1>Lista de canais atuais</h1>
{% if serverConfig.youTubeConfig.channels|length == 0 %}
Nenhum canal!
{% else %}
{% set idx = 0 %}
{% for channel in serverConfig.youTubeConfig.channels %}
<div class="pure-g" style="text-align: center;">
    <div class="pure-u-1 pure-u-md-7-8">
		<p class="toggleMainText">{{ channel.channelUrl }}</p>
		<div class="toggleSubText">{{ channel.channelId }}</div>
	</div>
    <div class="pure-u-1 pure-u-md-1-8">
	    <a href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/youtube/editor/{{ idx }}"><button type="button" class="button-secondary pure-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a><form style="display: inline;"><input type="hidden" name="deleteCommand" value="{{ idx }}"><button type="submit" class="button-secondary pure-button"><i class="fa fa-times" aria-hidden="true"></i></button></form>
	</div>
</div>
{% set idx = idx + 1 %}
{% endfor %}
{% endif %}
<hr>
<a class="button-success pure-button" href="{{ websiteUrl }}config/servidor/{{ serverConfig.guildId }}/youtube/editor"><i class="fa fa-plus-circle" aria-hidden="true"></i> Adicionar canal</a>
<hr>
<input class="button-success pure-button" type="submit" value='{{ locale.strings["WEBSITE_SAVE_IT"] }}'>
</form>
{% endblock %}