html {
	background-color: white;
}

body {
	z-index: 0;
	position: relative;
}
.content img {
	max-width: 100%;
}
.pure-button {
	min-height: 38px;
	position: relative;
	bottom: 3px;
}
        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
		
.hello {
	font-family: 'Lobster', cursive;
}

.button_danger {
    border: 0px none;
    background: #ff0000 none repeat scroll 0% 0%;
    border-radius: 4px;
    box-shadow: 0px 5px 0px #b50000;
    color: #FFF;
    cursor: pointer;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    margin: 3px;
    outline: 0px none;
    padding: 4px 12px;
    font-size: 120%;
    transition: all 0.1s linear 0s;
}

.button_danger:active {
  box-shadow: 0 2px 0 #b50000;
  transform: translateY(3px);
}

.button_normal {
    border: 0px none;
    background: #009CFF none repeat scroll 0% 0%;
    border-radius: 4px;
    box-shadow: 0px 5px 0px #006899;
    color: #FFF;
    cursor: pointer;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    margin: 3px;
    outline: 0px none;
    padding: 4px 12px;
    font-size: 120%;
    transition: all 0.1s linear 0s;
}

.button_normal:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.text {
	font-size: 4em;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	font-family: 'Pacifico', cursive;
	line-height: 1.25em;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header {
	background: url("img/servers_v2.png") repeat;
	position: relative;
	background-size: 100%;
}

#belowHeader {
	z-index: 5;
	background-color: rgb(30, 33, 36);
}

#wrapper {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
	background-color: rgb(30, 33, 36);
}

#leftColumn {
	width: 65%;
	float: left;
}

#rightColumn {
	width: 33%;
	float: right;
}

@media screen and (max-width: 480px) {
    #rightColumn {
        float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
    }
    #leftColumn {
        float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
    }
	#katyImage {
		visibility: hidden;
	}
}

#leftColumnConfig {
	width: 22%;
	float: left;
}

#rightColumnConfig {
	width: 77%;
	float: right;
}

@media screen and (max-width: 480px) {
    #rightColumn {
        float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
    }
    #leftColumn {
        float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
    }
	#katyImage {
		visibility: hidden;
	}
}

.commandInfo {
border-radius: 4px;
border: solid 1px #26292d;
background-color: #2e3136;
color: #ddd;
}

.commandInfoWrapper {
	margin: 5px;
}

hr.commandInfoHr { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

#verticalNavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(47, 49, 54);
	color: rgb(97, 99, 103);
	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#verticalNavBar li a {
    display: block;
    color: rgb(97, 99, 103);
    padding: 8px 16px;
    text-decoration: none;
}

#verticalNavBar li a.active {
    background-color: rgb(48, 52, 59);
	color: rgb(220, 221, 235);
}

#verticalNavBar li a:hover:not(.active) {
    background-color: rgb(48, 52, 59);
	color: rgb(220, 221, 235);
}

#verticalNavBar i a.active {
	color: rgb(109, 113, 119) !important;
}

#verticalNavBar i {
	color: rgb(63, 67, 72);
}

.content {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	border-radius: 8px;
}

.insideContent {
	padding: 8px;
	color: #586069;
	font-size: 14px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-align: center;
	line-height: 1.35em;
}

.insideContent img {
	max-width: 100%;
}

.smTitleBar {
	background-color: rgb(114, 137, 218);
	font-family: "Oswald",Arial,sans-serif;
	border-bottom: solid 2px rgb(98, 119, 192);
	text-align: center;
	text-transform: uppercase;
	color: white;
	text-shadow: 0 1px #818181;
	border-radius: 7px;
	font-size: 1.5em;
	line-height: 1.5em;
}

 /* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(114, 137, 218);
    overflow: hidden;
	z-index: 2;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 1px #818181;
	font-family: "Oswald",Arial,sans-serif;
	font-size: 20px;
	border-bottom: solid 2px rgb(98, 119, 192);
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	transition: background 0.5s linear;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(108, 130, 204);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Line Divisor igual ao Discord */
hr {
	box-sizing: content-box;
	height: 0;
	background: rgb(234, 235, 236);
	border: 0;
	height: 1px;
}

/* Text Field igual ao Discord */
input[type=text], select {
margin: 8px 0;
border: 1px solid rgb(199, 201, 203);
border-radius: 4px;
background-color: rgb(251, 251, 252);
padding: 8px;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

input[type=text]:focus {
	border: 1px solid rgb(114, 137, 218);
}

input[type=text]:hover {
	border: 1px solid rgb(185, 187, 190);
}

textarea {
margin: 8px 0;
border: 1px solid rgb(199, 201, 203);
border-radius: 4px;
background-color: rgb(251, 251, 252);
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
	width: 100%;
resize: none !important;
padding-left: 9px;
box-sizing: border-box;
padding-top: 7px;
min-height: 42px;
}

textarea:focus {
	border: 1px solid rgb(114, 137, 218);
}

textarea:hover {
	border: 1px solid rgb(185, 187, 190);
}

.noBlur {
  filter: blur(0px);
  pointer-events: inherit;
  transition: 0.3s;
}

.blurSection {
  filter: blur(3px);
  pointer-events: none;
  transition: 0.3s;
}

.userOptionsWrapper {
	border: solid 1px;
	border-radius: 5px;
	border-color: #dcddde;
	padding: 20px;
	margin-bottom: 24px;
}
/* ===[ FAN ARTS ]=== */
#fanArts .fanArtWrapper {
	padding: 15px;
}

#fanArts .fanArtWrapper img {
	border-radius: 15px;
	object-fit: cover;
	width:230px;
	height:230px;
}

/* ===[ CONTROL PANEL ]=== */
.toggleMainText {
	text-align: left;
	color: #4f545c;
	font-weight: 600;
	line-height: 24px;
	font-size: 16px;
	font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;margin:0;
	position: relative;
	top: 4px;
}

.toggleSubText {
	color: hsla(218,5%,47%,.6);
	text-align: left;
	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
	margin: 0;
	font-weight: 500;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.flavourText {
	color: #4f545c;
	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
}

.discordPre {
	background: #f9f9f9;
    text-indent: 0;
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #657b83;
    -webkit-text-size-adjust: none;
    font-family: Menlo,Consolas,Monaco,monospace;
    font-size: 14px;
    line-height: 16px;
	border-radius: 5px;
	border: solid 2px #f3f3f3;
}
/* ===[ DISCORD ]=== */
@font-face {
    font-family: WhitneyNew;
    font-weight: 300;
    src: url("https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff") format("woff")
}
@font-face {
    font-family: WhitneyNew;
    font-weight: 400;
    src: url("https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff") format("woff")
}
@font-face {
    font-family: WhitneyNew;
    font-weight: 500;
    src: url("https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff") format("woff")
}
@font-face {
    font-family: WhitneyNew;
    font-weight: 600;
    src: url("https://discordapp.com/assets/877ef48bf9fcfee590f0ba64de101b59.woff") format("woff")
}
@font-face {
    font-family: WhitneyNew;
    font-weight: 700;
    src: url("https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff") format("woff")
}
@font-face {
    font-family: Reenie Beanie;
    src: url("https://discordapp.com/assets/4b861c4f9cb4e4fbec1662f6c6e9186f.woff") format("woff")
}
@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url("https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff") format("woff")
}
@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url("https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff") format("woff")
}
@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url("https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff") format("woff")
}
@font-face {
    font-family: Whitney;
    font-style: semibold;
    font-weight: 650;
    src: url("https://discordapp.com/assets/877ef48bf9fcfee590f0ba64de101b59.woff") format("woff")
}
@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url("https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff") format("woff")
}
@font-face {
    font-family: SourceCodePro;
    font-style: normal;
    font-weight: 500;
    src: url("https://discordapp.com/assets/748ac49ebe4bf0ddfe85c005be7c64c4.woff") format("woff")
}

/* ===[ TOGGLES ]=== */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 44px;
  height: 24px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #72767d;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
  top: 4px;
  bottom: 4px;
  margin-left: 3px;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #7289da;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 22px;
}